header {
	align-items: center;
	background: url("../../images/mountains.png") no-repeat;
	background-color: rgba($color2, 1);
	background-size: cover;
	background-position: center bottom;
	color: #fff;
	display: flex;
	flex-direction: column;
	padding: 0 0 2rem 0;
	text-align: center;
	h1,
	h2,
	p {
		margin: 0;
	}
	h1 {
		background: rgba(255, 255, 255, 0.5);
		border-radius: 20px;
		font-size: 2.5rem;
		font-weight: 500;
		margin: 0 1rem;
		padding: 0.5rem 1rem;
		width: fit-content;
		@include box-shadow();
	}
	.bcc {
		background: $color1;
		color: #fff;
		font-size: 1rem;
		margin: 0 auto 2rem auto;
		padding: 0.2rem 0.8rem;
		width: 100%;
	}
	.total-complaints {
		background: rgba(255, 255, 255, 0.5);
		border-radius: 20px;
		font-size: 1.5rem;
		font-weight: 500;
		margin: 2rem auto 0 auto;
		padding: 0.5rem 1rem;
		width: fit-content;
		@include box-shadow();
		span.record-number {
			color: $color1;
			display: block;
			font-size: 2rem;
			text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
		}
	}
}

@include breakpoints(500px) {
	header {
		h1 {
			font-size: 3rem;
		}
	}
}

@include breakpoints(650px) {
	header {
		h1 {
			font-size: 4rem;
		}
	}
}
